body {
    background-color: #faf9ac;
    font-family: fantasy;
}

#localisation{
    display: flex;
    justify-content: center;
}

#weathericon{
    display:block;
    margin-top:15px;
}

#description {
    width: min-content;
    display: flex;
    justify-content: center;
background-color: aliceblue;
/*voir comment aligner plus au centre/disposer de manière générale*/
}

#tempblock{
    width: min-content;
     display: flex;
    justify-content: center;
background-color: beige;
}

