@font-face {
  font-family: 'terminal';
  src:url(assets/terminal-grotesque.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: url("assets/animation\ illustration\ GIF\ by\ ioana\ sopov.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;

    font-family:"terminal";
    font-size:x-large;
}
/*ok header mais quelle utilité? menu en cartes plutot?*/
#header{
    background-color: rgba(144, 144, 144, 0.397);
    margin-top: -2.5%;
    margin-left:0px;
    /*marges texte-bloc??*/
    font-size: medium;

    /*radius??*/
}

#mainwindow{
    /*c'est quoi?*/
    width:300px;

    /*augmente l'interieur ou extérieur?*/
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin defines all margins in the following order: top, right, bottom, left*/
    margin: 100px auto;

    /*ligne qui contourne le bloc, seulement visible avec un border-style*/
    border-radius: 5%;
    border-width: 5%;
    border-style:groove;
    border-color: #6c5f4f;

    background-color: #c4e8ff;
}


#bandeau{
    /*cache le surplus de texte*/
    overflow:hidden;
    /*takes 100% of the width of the parent div, here main window*/
    width: 100%;
}

#marquee{
    /*met les child du div (ici les deux span) en ligne plutôt que l'un en dessous de l'autre*/
    display:flex;

    width:100%;
    /*appelle une animation: nom, durée, linéaire ou ease (in,out), nb d'itérations*/
    animation: scrolltext 20s linear infinite;
}

/*cible les div span dans le id marquee*/
#marquee span{
    /*empêche de sauter une ligne d'un span au plein milieu*/
    white-space: nowrap;
    padding-right: 6px;
}

@keyframes scrolltext{
    from{
        transform: translateX(0);
    }
    to{
        /*negative values = left*/
        transform: translateX(-50%);
    }
}

#localisation{
    /*sert à quoi?*/
    display:block;

    margin-left:auto;
    margin-right:auto;
    margin-top: 4%;
    margin-bottom: 7%;
    width: 70%;
    appearance: none;

    border-radius: 10%;
    border-color: cornsilk;
    border-style:initial;

   

    font-family: "terminal";
    font-size: medium;
    text-align: center;
    background-color:cornsilk;
}

#loadicon{
    /*display block nécessaire pour faire fonctionner les autres paramètres*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20%;
    margin-bottom: 5%;
    width:25%;
   
    /*50%=cercle*/
    border-radius: 50%;
}

#weathericon{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: -5%;
    margin-bottom: -7%;
    width:55%;
}

#loadcat{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
    margin-bottom: 3%;
    width:55%;

    border-radius: 50%;
}

#cityname{
    /*paramètre pour utiliser justify content et align items?*/
    display:flex;

    /*centre horizontalement*/
    justify-content:center;
    /*centre verticalement*/
    align-items:center;
}

#description {
    /*paramètre pour utiliser justify content et align items?*/
    display:flex;

    /*centre horizontalement*/
    justify-content:center;
    /*centre verticalement*/
    align-items:center;
}

#tempblock{

    display:flex;

    justify-content:center;
    align-items:center;
}

